<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<p class="menu">
							<a href="#">Home</a>
							<a href="#">Agent</a>
							<a href="/about-author/">About author</a>
							<a href="#">Listing</a>
							<a href="#">Blog</a>
							<a href="/about/contacts/">Contact</a>
						</p>
                    </div>
					<div class="container" style="padding: 30px 0;" align="center">
						<a href="#">
                                <i class="fa fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
						</a>
                        <a href="#">
                                <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
						</a>
        			</div>
                </div>
            </div>
    <p class="m-0 text-dark text-center ">Социальная сеть <span style="color:red">Ya</span>tube © {{year}}, все права защищены.</p>
</footer>